version: '3'
services:
  vprodb:
    image: {{nexus_host}}:{{nexus_docker_port}}/{{nexus_docker_repo}}/vprodb:V2
    ports:
      - "3306:3306"
    volumes:
      - vprodbdata:/var/lib/mysql
    environment:
      - "MYSQL_ROOT_PASSWORD={{mysql_root_pass}}"
      - "MYSQL_USER={{mysql_user}}"
      - "MYSQL_PASSWORD={{mysql_user_pass}}"
      - "MYSQL_DATABASE={{mysql_db}}"
  vpromc:
    image: {{nexus_host}}:{{nexus_docker_port}}/{{nexus_docker_repo}}/vpromc:V2
    ports:
      - "11211:11211"
  vprormq:
    image: {{nexus_host}}:{{nexus_docker_port}}/{{nexus_docker_repo}}/vprormq:V2
    ports:
      - "5672:5672"
    environment:
      - "RABBITMQ_DEFAULT_USER={{rmq_user}}"
      - "RABBITMQ_DEFAULT_PASS={{rmq_pass}}"
  vproapp:
    image: {{nexus_host}}:{{nexus_docker_port}}/{{nexus_docker_repo}}/vproapp:V2
    ports:
      - "8080:8080"
    volumes:
     - vproappdata:/usr/local/tomcat/webapps
  vproweb:
    image: {{nexus_host}}:{{nexus_docker_port}}/{{nexus_docker_repo}}/vproweb:V2 
    ports:
      - "80:80"
volumes:
  vprodbdata: {}
  vproappdata: {}
