- name: Deploy containers
  hosts: appsrvgrp
  become: yes

  tasks:
    - name: Include vars
      include_vars:
        file: vars/mysql.yml

    - name: Create remote temp dir
      file:
        path: /tmp/vproapp
        state: directory

    - name: Copy Docker Compose files
      copy:
        src: files/docker-compose2.yml
        dest: /tmp/vproapp/docker-compose.yml

    - name: Stop all docker containers
      shell:
        cmd: docker stop $(docker ps -q)
      ignore_errors: true
      tags:
        - docker-cleanup

    - name: Remove all unused and dangling docker images
      shell:
        cmd: docker system prune --all --force
      tags:
        - docker-cleanup

    - name: Setup with docker-compose
      shell:
        cmd: docker compose up -d
        chdir: /tmp/vproapp
      register: contdeploy
      tags:
        - container-setup

    - name: Display result
      debug:
        msg: "Log from docker-compose: \n {{contdeploy}}\n"


